body{
	background-image : url(https://wallpaperaccess.com/full/5466320.jpg);
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.main{
	display: flex;
	flex-direction: column;
	margin: auto;
	justify-content: center;
	justify-content: space-evenly;
	height: 100vh;
}

.weather-info-parents{
	display: flex;
	justify-content: center;
}

.weather-info{
	width: 800px;
	border: 3px solid #aec6fe;
	border-radius: 10px;
	color: white;
	background-color:rgba(108, 144, 202, 0.4);
	padding: 100px;
}

.weather-info-text {
	width: 100%;
	text-align: center;
	padding: 3px;
}

.cityButtonGroup{
	display: flex;
	justify-content: center;
	justify-content: space-evenly;
	align-items: center;
	position:relative;
	width: 100%;
	overflow: hidden;
}